[submodule "3rd/SDL"]
	path = 3rd/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "3rd/imgui"]
	path = 3rd/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "3rd/glog"]
	path = 3rd/glog
	url = git@github.com:google/glog.git
